* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sorce-code-pro, Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
}

.App {
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 5px 6px #332f32;
  padding: 0 15px;
  box-sizing: border-box;
}

/*.........HEADER........*/
header {
  width: 97%;
  min-height: 100px;
  max-width: 1520px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: #bbcae7;
  box-shadow: 0 5px 10px #363436;
}

a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #3b083b;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 0 1rem;
}

header ul li a {
  font-weight: bold;
}

header .cart {
  position: relative;
  cursor: pointer;
}

header .cart box-icon {
  width: 45px;
  height: 45px;
}

header .cart span {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dadaca;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: crimson;
}

/*.............INICIO...........*/

.inicio {
  width: 100%;
  margin: 0 auto;
  padding-top: 9rem;
}

.inicio h1 {
  font-size: 2.5rem;
  color: #000;
}

.inicio img {
  width: 100%;
  height: 30rem;
}

/*...........PRODUCTOS...........*/

.title {
  font-size: 2rem;
  padding: 10rem 0 0 0;
  color: #000000;
}

.productos {
  padding: 5rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem 1rem;
  box-sizing: border-box;
}

.producto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px #000000;
  border: 6px solid transparent;
  border-radius: 5px;
}

.producto:hover {
  border: 3px solid #440e3b54;
}

.producto__img img {
  width: 300px;
}

.producto__footer {
  padding: 1rem;
}

.producto__footer h1 {
  font-weight: 600;
  font-size: 2rem;
  color: #000000;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.producto__footer p {
  font-weight: 700;
  color: #0000008e;
  text-transform: uppercase;
  font-size: 18px;
}

.producto__footer .price {
  font-size: 2rem;
  color: #000;
  text-align: center;
}

.producto .buttom {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
  padding: 0 1rem;
  margin: 1rem;
}

.buttom .btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.buttom button {
  background-color: #bbcae7;
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
}

.buttom button:hover {
  color: white;
}

.buttom div {
  background-color: #CEC1CF;
  display: grid;
  text-align: center;
  align-items: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.buttom div a {
  color: #000;
  font-weight: 700;
}

.buttom div a:hover {
  color: white;
}


/*..............FORMULARIO SUSCRIBETE...........*/

/*.container {  
  border-radius: 2px;  
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}*/

h2 {
  text-align: center;
  margin-bottom: 20px;  
}
#form-react {
  padding: 30px 20px;  
}
.form-control {    
  margin-bottom: 7px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 7px;
  font:weight 200px
}
.form-control input {
  border: none;
  background-color: #f0f0f0;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 12px;
  width: 100%;    
}
.form-control, input:focus {
  outline: none;
}
.form-react button {
  background: #f2317f;
  border:1px solid #f2317f;
  border-radius: 2px;
  color: #f6f6e9;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.form-react button:hover {
  background-color: #bf1650;
}
.fail {
  color: #f2317f;
}

/*..............FORMULARIO MODAL...........*/

.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-paper {
  padding: 0px;
  width: 700px;
  text-align: center;
  background-color: #bbcae7;
}

.modal-content {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 2;
  text-align: center;
  padding: 0px;
  padding-bottom: 0px;
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.form-container {
  flex: 3;
  padding: 5px;
  position: relative;
  margin-top: 0px;
}


.close-button-container {
  position: absolute;
  top: 0;
  right: 0;
}

.close-button {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.54);
}

.input {
  margin-top: 10px;
  margin-bottom: 16px;
}

.button-container {
  margin-top: 30px;

}

/*.........FOOTER..........*/

footer {
  background-color: #bbcae7;
  height: auto;
  box-shadow: 0 5px 10px #363436;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials li box-icon{
  width: 30px;
  height: 30px;
}

.footer-bottom{
  background-color: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #ffffff;
}

.footer-bottom span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;
}


/*..........RESPONSIVE........*/

@media only screen and (max-width: 600px) {
  header ul {
    display: none;
  }
}